@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: black;
    color: whitesmoke;
    font-family: Meiryo, sans-serif;
    font-size: 32px;
    line-height: 120%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: deeppink;
    text-decoration: underline;
}

a:hover {
    color: royalblue;
    text-decoration: underline;
}

h1 {
    font-size: 20px;
    margin: 0px 0px 0px 100px;
    display: inline-block;
}

h2 {
    font-family: 'Jura', cursive;
    font-size: 96px;
    text-align: center;
    margin: 300px 20px 50px;
}

h3 {
    color: deeppink;
    font-family: 'Jura', cursive;
    font-size: 48px;
    text-align: center;
    margin: 20px;
}

h4 {
    font-size: 48px;
    margin: 40px 70px 30px;
}

h5 {
    font-size: 32px;
    margin: 30px 85px;
}

p {
    margin: 20px 50px 20px 100px;
    line-height: 1.5;
}

ul {
    margin: 20px 50px 20px 150px;
}

img {
    margin: auto;
}

em {
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

strong {
    background-color: deeppink;
    border-radius: 5px;
    color: white;
    font-style: normal;
    font-weight: bold;
    padding: 0px 15px;
    display: inline-block;
    text-shadow: 0px 0px 5px #600;
}

code {
    background-color: #666;
    border-radius: 5px;
    color: white;
    font-family: consolas, Ricty, Monaco, monospace;
    margin: 0px 5px;
    padding: 0px 8px;
    box-shadow: 0px 0px 0px 2px silver inset;
}

pre {
    background-color: #666;
    border: 2px solid gray;
    border-radius: 5px;
    color: silver;
    font-family: consolas, Ricty, Monaco, monospace;
    line-height: 1.0;
    margin: 20px 100px;
    padding: 10px;
    overflow: auto;
}

pre code {
    border: 0px solid gray;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 0px;
}

.centers {
    text-align: center;
}

.page {
    position: absolute;
    padding: 50px 0px;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.0;
    transition: opacity 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    z-index: 0;
}

.active {
    position: absolute;
    padding: 50px 0px;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 1.0;
    transition: opacity 1.0s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
}

.capt {
    background-color: #aaf;
    border-radius: 5px;
    color: navy;
    padding: 0px 15px;
    display: inline-block;
}

.centerh {
    font-size: 60px;
    text-align: center;
    margin: 200px 20px 50px;
}

pre.glsl, pre.json {
    background-color: silver;
    border: 1px solid gray;
    color: #666;
    font-family: monospace;
    background: #f9f9f9;
    border: 1px solid silver;
    color: #666;
    font-size: small;
    font-family: consolas, Ricty, Monaco, monospace;
    line-height: 1;
    margin: 10px;
    padding: 5px;
    overflow: auto;
}

.displaynone {
    display: none;
}

input[type="radio"] {
    opacity: 0;
}

input[type="radio"] + label:before {
    background-color: #666;
    border-radius: 50%;
    content: "　";
    line-height: 1;
    margin: 0px 10px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

input[type="radio"]:checked + label:before {
    background-color: deeppink;
}

label {
    text-decoration: none;
    cursor: pointer;
}

label:hover {
    text-decoration: underline;
}

#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1.0;
    transition: opacity 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#canvas.hidden {
    opacity: 0.0;
    transition: opacity 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#wrap {
    width: 100%;
    height: 100%;
}

#header {
    background-color: gainsboro;
    font-size: 16px;
    line-height: 50px;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    overflow: hidden;
    z-index: 2;
    /* - temp - */
    display: none;
}

#header:before {
    content: " ";
    background-color: gray;
    border: 10px solid #333;
    width: 120px;
    height: 120px;
    display: inline-block;
    position: absolute;
    top: -45px;
    left: -80px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

#header:after {
    content: " ";
    background-color: gray;
    border: 10px solid #333;
    width: 120px;
    height: 120px;
    display: inline-block;
    position: absolute;
    top: -45px;
    right: -90px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

#content {
    line-height: 200%;
}

#footer {
    font-size: 48px;
    line-height: 120px;
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

#author {
    margin: 0px 100px 0px 0px;
    display: inline-block;
    float: right;
}

#arrow {
    font-size: 96px;
    text-align: center;
    margin: 0px 15px;
    display: inline-block;
}

#prev, #next {
    margin: 0px 10px;
    width: 100px;
    display: inline-block;
    cursor: pointer;
    /* - temp - */
    display: none;
}

#navi {
    margin: 0px 50px;
    display: inline-block;
    float: right;
}

#count, #separator, #total {
    display: inline-block;
    /* - temp - */
    display: none;
}

#bar {
    background-color: gray;
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    opacity: 1.0;
    transition: opacity 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#bar.hidden {
    opacity: 0.0;
    transition: opacity 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#progress {
    background-color: deeppink;
    width: 0%;
    height: 20px;
    transition: width 0.5s ease;
}

#ansButton {
    background-color: gainsboro;
    border: 5px solid gray;
    border-radius: 50px;
    color: deeppink;
    font-style: normal;
    font-weight: bold;
    margin: 20px 100px;
    padding: 0px 15px;
    display: inline-block;
    text-shadow: 0px 0px 1px crimson;
    box-shadow: 10px 10px 10px #333;
    cursor: pointer;
}

#parts {
    color: silver;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1.0;
}

#parts.none {
    display: none;
}

#parts.hidden {
    opacity: 0.0;
    transition: opacity 1.0s cubic-bezier(0, 0.5, 0, 1.0);
}

#parts #items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
}

#parts #partstitle {
}

#parts #partstitle h5 {
    color: whitesmoke;
    font-family: 'Jura', sans-serif;
    font-size: 96px;
    line-height: 1.0;
    text-align: right;
    margin: 150px 0px 0px 550px;
    padding: 60px 50px 10px;
    height: 96px;
    overflow: hidden;
    opacity: 1.0;
    transition: margin 1.0s cubic-bezier(0, 0.5, 0, 1.0), opacity 0.5s cubic-bezier(0, 0.5, 0, 1.0);
}

#parts #partstitle h5.hidden {
    margin: 150px 10% 0px 550px;
    opacity: 0.0;
    transition: margin 0.1s cubic-bezier(0, 0.5, 0, 1.0), opacity 0.1s cubic-bezier(0, 0.5, 0, 1.0);
}

#parts #underline {
    background-color: deeppink;
    margin: 0px 0px 0px 550px;
    height: 5px;
    transition: margin 1.5s cubic-bezier(0, 0.5, 0, 1.0);
}

#parts #underline.hidden {
    background-color: deeppink;
    margin: 0px 100% 0px 550px;
    transition: margin 0.1s cubic-bezier(0, 0.5, 0, 1.0);
}

#parts #description {
    margin: auto 0px 0px;
    padding: 0px 50px;
}

#parts #description p {
    font-size: 32px;
    line-height: 1.5;
    text-align: right;
    margin: 0px 0px 0px auto;
    padding: 0px;
    width: 75%;
    opacity: 1.0;
    transition: margin 1.0s ease-out, opacity 0.8s ease-out;
}

#parts #description p.hidden {
    margin: 0px 0px 50px auto;
    opacity: 0.0;
    transition: margin 0.1s ease-out, opacity 0.1s ease-out;
}

#parts #partsauthor {
    color: whitesmoke;
    font-weight: bold;
    font-size: 72px;
    text-align: right;
    margin: 20px 0px 120px;
    padding: 50px;
}

#parts #partsauthor p {
    font-family: 'Jura', sans-serif;
    line-height: 1;
    margin: 0px;
    opacity: 1.0;
    transition: margin 1.0s cubic-bezier(0, 0.5, 0, 1.0), opacity 0.5s cubic-bezier(0, 0.5, 0, 1.0);
}

#parts #partsauthor p.hidden {
    margin: 0px 50% 0px 0px;
    opacity: 0.0;
    transition: margin 0.1s cubic-bezier(0, 0.5, 0, 1.0), opacity 0.1s cubic-bezier(0, 0.5, 0, 1.0);
}

#parts #partsnumber {
    color: deeppink;
    font-family: 'Jura', sans-serif;
    font-size: 320px;
    font-style: italic;
    font-weight: bold;
    line-height: 360px;
    text-shadow: 15px 10px 1px white;
    margin: 0px;
    padding: 0px 50px;
    width: 800px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1.0;
    transition: top 1.0s ease-out, opacity 0.8s ease-out;
}

#parts #partsnumber.hidden {
    top: -120px;
    opacity: 0.0;
    transition: top 0.1s ease-out, opacity 0.1s ease-out;
}

#parts #partscorner {
    background-color: deeppink;
    width: 5000px;
    height: 600px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(-45deg) translate(1600px,-1700px);
    transition: transform 1.0s ease;
}

#parts #partscorner.hidden {
    transform: rotate(-45deg) translate(-5000px,-1700px);
    transition: transform 0.1s ease;
}

#parts #partslayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

